/* Sidebar.css */

.sidebar {
  width: 250px;
  background-color: #2c3e50; /* Màu nền Sidebar tối */
  color: #ecf0f1; /* Màu chữ sáng */
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 30px;
  padding: 0 15px;
}

.sidebar-header h3 {
  font-size: 1.4em;
  color: #3498db;
  margin: 0;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav li a {
  display: block;
  color: #ecf0f1; /* Màu chữ mặc định: Trắng nhạt */
  text-decoration: none;
  padding: 12px 20px;
  transition: background-color 0.2s, color 0.2s;
  font-size: 1em;
}

.sidebar-nav li a:hover {
  background-color: #34495e;
  color: #ffffff;
}
/* Thêm style cho nút Đăng xuất */
.sidebar-nav .logout-btn-container {
  padding: 10px 20px;
  margin-top: 20px;
}
.sidebar-nav .logout-btn-container button {
  width: 100%;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
}
